<!DOCTYPE html>
<html>
<head>
  <centre><h1><title>Interactive YouTube Transcript Generator For Educational Videos</title></h1></centre>
<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="container">
  <p class="text"></p>
</div>


  <h1>Interactive Transcript Generator</h1>

  <p>Enter the id of the YouTube video you want to generate a transcript for:</p>
  <form action="/transcribe" method="post">
    <label for="video_url">Enter YouTube Video URL:</label>
    <input type="text" id="video_url" name="video_url" required>
    <button type="submit">Transcribe</button>
</form>

  <div id="transcript"></div>

<b><p>Why Use Our YouTube Transcript Generator?</p></b>
<div></div>
<b><p>Fast and Accurate</p></b>
<p>Experience the power of technology as our advanced AI algorithms generate precise and reliable transcripts in mere seconds. Trust our ITG to deliver text that reflects the content of your videos with remarkable accuracy.</p>
<div></div>
<b><p>Free of Charge</p></b>
 <div></div> 
<p>We believe in democratizing accessibility to essential tools for content creators. Our YouTube Transcript Generator is entirely free to use, with no hidden costs or subscriptions required. Enjoy unlimited access to our transcription services without breaking the bank.</p>
<div></div>
<b><p>How It Works</p></b>
<div></div>
<ol start="1">
  <li>Paste Video URL: Copy and paste the URL of the YouTube video you want to transcribe into our easy-to-use interface.</li>
  <li>Click Generate Transcript: Hit the button, and we will swiftly process the video to produce a text-based transcript.</li>
  <li>Copy and Use: With just a click, the transcript will be copied to your clipboard.</li>
</ol>

<div></div>
<b><p>Summarize YouTube Videos</p></b>
<p>Save time and extract key information from any YouTube video with Kome's efficient video summarization tool. Get concise summaries in seconds!</p>



</body>
</html>